body {
    background: #faf1e6;
}

.heading {
    display: flex;
    justify-content: center;
}

h1, h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.container {
    display: flex;
}

.item {
    height: 90vh;
    background-size: cover;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    flex: 1;
    margin: 5px;
    position: relative;
}

h4 {
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: #fff;
    color: #000;
    opacity: 0;
}

.par {
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: #fff;
    color: #000;
    opacity: 0;
}

.price {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: #fff;
    color: #000;
    opacity: 0;
}

.one {
    background-image: url(one.jpeg);
}

.two {
    background-image: url(two.jpeg);
}

.three {
    background-image: url(three.jpeg);
}

.four {
    background-image: url(four.jpeg);
}

.five {
    background-image: url(five.jpeg);
}

.six {
    background-image: url(six.jpeg);
}

.selected {
    flex: 4;
}

.selected h4 {
    font-size: 40px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .par {
    font-size: 20px;
    transition: all 1s ease-in;
    opacity: 1;
}

.selected .price {
    font-size: 35px;
    transition: all 1s ease-in;
    opacity: 1;
}

label {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.text-input {
    background-color: #faf1e6;
    border: none;
    padding: 12px 20px;
}

.btn {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    background-color: #00adb5;
    flex: 1;
}